@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
}

.career-header {
    background-color: #5f5f5f;;
    height: 80px;
    width: 100%;
    display: flex;
}

.header-left, .header-right {
    color: #ffffff;
    font-family: 'Baloo Tamma 2', cursive;
    letter-spacing: 3px;
    width: 100%;
    position: relative;
}

.header-left-content {
    position: absolute;
    margin-left: 30px;
    float: left;
    top: 0;
}

.header-right-content h2 {
    font-size: 1.2rem;
    margin-top: 50px;
    margin-bottom: 0;
}

.header-right-content {
    margin-right: 25px;
    float: right;
}

.hr-line {
    width: 80%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0.50px;
    background-color: #000;
    border: 0;
}

.form-outer-container {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-inner-container {
    width: 30%;
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    background: #5f5f5f;
    border-radius: 5px;
    padding: 50px 35px 10px 35px;
}

.form-inner-container header {
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    margin: 0 0 30px 0;
}

.form-inner-container .progress-bar {
    display: flex;
    color: #fff;
    margin: 40px 0;
}

.form-inner-container .progress-bar .step {
    position: relative;
    width: 100%;
    text-align: center;
}

.progress-bar .step p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
}

.progress-bar .step .bullet {
    position: relative;
    height: 25px;
    width: 25px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline-block;
    transform: 0.2s ease;
    cursor: pointer;
}

.progress-bar .step .bullet.active {
    border-color: black;
    background-color: black;
}

.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after {
    position: absolute;
    content: '';
    bottom: 11px;
    right: -60px;
    height: 3px;
    width: 44px;
    background: #5f5f5f;
}

.progress-bar .step .bullet.active:after{
    background: #fff;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}

@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}

.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after {
    display: none;
}

.progress-bar .step .check {
    position: absolute;
    left: 50%;
    top: 76%;
    font-size: 18px;
    transform: translate(-50%, -50%);
    display: none;
    cursor: pointer;
}

.progress-bar .step .check.active {
    display: block;
    color: #fff;
}

.progress-bar .step .bullet span {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.progress-bar .step .bullet.active span {
    display: none;
}

.form-inner-container .form-outer {
    width: 100%;
    overflow: hidden;
}

.form-outer form {
    display: flex;
    width: 400%;
}

.form-outer form .page {
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
}

.form-outer form .page .title {
    color: #fff;
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}

.form-outer form .page .field {
    height: 50px;
    width: 100%;
    margin: 45px 0;
    position: relative;
    display: flex;
}

.form-outer form .page .field .label {
    color: #ffffff;
    position: absolute;
    top: -30px;
    font-weight: 500;
}

.form-outer form .page .field input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 15px;
    outline: none;
    padding-left: 15px;
}

.form-outer form .page .field select {
    width: 100%;
    font-size: 17px;
    padding-left: 10px;
    border-radius: 5px;
    font-weight: 500;
    outline: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-outer form .page .field button {
    width: 100%;
    height: calc(100% + 5px);
    margin-top: -10px;
    border: none;
    color: #5f5f5f;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.form-outer form .page .field button:hover {
    background-color: #cac8c8;
}

form .page .btns .prev {
    margin-right: 3px;
    font-size: 18px;
}

form .page .btns .next {
    margin-left: 3px;
}

.info {
    color: #fff;
    display: none;
}

.info i {
    font-size: 70px;
}

@media screen and (max-width: 767px) {

    .career-header {
        display: block;
        text-align: center;
    }

    .header-left, .header-right {
        width: 100%;
    }

    .header-left-content, .header-right-content {
        position: initial;
        float: none;
        margin: 0;
    }

    .header-right-content h2 {
        margin: 0;
        font-size: 1.0rem;
    }
    
    h1 {
        margin: 0;
    }

    .form-inner-container {
        width: 70%;
        margin: 0;
    }
}